<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form method="POST" action="/update/{{logins.PhoneNo}}/">
        {%csrf_token%}
        <div><br><P><h3>Update Reecord</h3></p></div>
            <div><P>UserName:</p>
                <div>
                    <input type="text" name="UserName" value="{{logins.Username}}">
                </div>
            </div>

            <div><P>Email:</p>
                <div>
                    <input type="Email" name="Email" value="{{logins.Email}}">
                </div>
            </div>

            <div><P>Password:</p>
                <div>
                    <input type="Password" name="Password" value="{{logins.Password}}">
                </div>
            </div>

            <div><P>PhoneNo:</p>
                <div>
                    <input type="text" name="PhoneNo" value="{{logins.PhoneNo}}">
                </div>
            </div>

            <div ><br><button type="submit">Update</button></div>
        </div>
    </form>
  </body>
</html>
